/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #03312E;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #081C15;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1B4332;
  transition: all;
}
